@font-face {
  font-family: "Almendra";
  src: url('../fonts/AlmendraDisplay/AlmendraDisplay-Regular.ttf');
}

@font-face {
  font-family: "Arial";
  src: url('../fonts/Arial/arial.ttf');
}


body {
  font-family: 'Arial', sans-serif;
}

