@font-face {
  font-family: "Almendra";
  src: url("../fonts/AlmendraDisplay/AlmendraDisplay-Regular.ttf");
}
@font-face {
  font-family: "Redaction";
  src: url("../fonts/Redaction/webfonts/Redaction-Regular.woff2");
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial/arial.ttf");
}
@font-face {
  font-family: "VTC-Martin";
  src: url("../fonts/Martin/MARTIN-Regular.woff");
}

@font-face {
  font-family: "Ortica";
  src: url("../fonts/Ortica/web/Ortica-Light.woff");
}

@font-face {
  font-family: "NotCourierSans";
  src: url("../fonts/NotCourierSans/otf/NotCourierSans-Bold.otf");
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body,
h1,
h2,
h3 {
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 120px;
  line-height: 99px;
}
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 56px;
    line-height: 42px !important;
  }
}

h3 {
  text-transform: uppercase;
}

body {
  width: 100%;
}
p {
  font-family: "Redaction", sans-serif;
}
.caption {
  font-family: "Arial", sans-serif;
}
.caption {
  margin-top: 16px;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
}


#render-timeline-here {
  border: 1px solid black;
  height: 600px;

}

#intro-logo {
  width: calc(100% - 40px);
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

.header-bg {
  /* background: linear-gradient(180deg, #048D3B 94.72%, #E5E5E5 100%); */
  background: linear-gradient(180deg, #048d3b 85.78%, rgba(97, 91, 91, 0) 94.11%);
}
.vis-item {
  font-family: "Arial" !important;
  /* border: none !important; */
  /* background-color: #e2fa61 !important; */
  font-size: 16px !important;

  color: white !important;
  background: #383636 !important;
  border-radius: 4px !important;
  text-align: left !important;
}
.link-back {
  position: absolute;
  color: black;
  text-decoration: underline;
  padding-left: 49px;
  padding-top: 24px;
  z-index: 9999;
}
.vis-item-content p {
  line-break: anywhere;
  white-space: break-spaces;
  font-size: 11px;
}
.vis-item-content span {
  line-break: anywhere;
  white-space: break-spaces;
  font-size: 8px;
}
.vis-item.vis-line {
  border-color: #a1a3aa;
}
.vis-item.vis-dot {
  border-color: #a1a3aa;

  /* left: -3.5px; */
  top: -3px;
}
.vis-item-content img {
  max-height: 80px;
}
