body {
  margin-top: 100px;
}

#yellow-gradient {
  height: 300px;
  position: absolute;
  z-index: -10;
  width: 100%;
  background: rgb(226, 250, 97);
  background: linear-gradient(180deg, rgba(226, 250, 97, 0.4) 0%, rgba(226, 250, 97, 0) 60%);
}
.button-group {
  display: flex;
  flex-wrap: wrap;
}
/* #text-priority {
  font-size: 32px;
  font-family: "Redaction", serif;
  line-height: 38px;
  padding: 0 40px;
  text-align: center;
  margin: 100px;
} */
#text-priority {
  /* color: #5c23ff; */
  font-family: "Redaction", serif;
  /* font-style: italic; */
  font-size: 42px;
  /* border: 1px solid #5c23ff; */
  padding: 56px 10px 10px 10px;
  display: block;
  text-align: right;
  max-width: 80%;
  width: 84%;
  margin: 0 auto;
  border-radius: 48px;
  margin-top: -50px;
  line-height: 1;
  font-size: 44px;
  padding-right: 0;
}
@media only screen and (min-width: 2000px) {
  #text-priority {
    font-size: 70px;
  }
}
@media only screen and (max-width: 780) {
  #text-priority {
    font-size: 25px;
  }
}
.hr-strong {
  background: #e4e4e4;
  height: 1px;
}
button:focus {
  outline: 0;
}
.grid-img {
  background-size: cover;
  width: 100%;
  height: 200px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.text-prio-two {
  font-size: 24px;
  line-height: 1;
  /* width: 75%; */
  /* margin: 0 auto; */
  font-family: "Arial", sans-serif;
  padding-bottom: 32px;
}
.landing-h2 {
  font-size: 56px;
  padding: 56px 0 24px;
  display: block;
  font-family: "Redaction", serif;
}
#archive {
  background-color: #131214;
  color: #ffffff;
  padding: 2px 40px;
  min-height: 1200px;
}
#archive .button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff63;
  padding: 2px 12px;
  border-radius: 5px;
  margin-right: 2px;
}

#archive .filters {
  padding: 10px 0 30px;
}
#archive h4 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding-left: 3px;
}
#archive .button.is-checked {
  background-color: rgb(226, 250, 97);
  color: #000000;
  border: none;
}
.headline-h1 {
  margin-bottom: 46px;
  padding: 80px 40px 40px;
  text-transform: uppercase;
  font-size: 142px !important;
  line-height: 114px !important;
}

#section-chapters {
  /* background: #eeeeee; */
  border-top: solid #0000000e 1px;
  width: 100%;
  height: auto;
  position: relative;
  /* padding: 2px 40px 80px 40px; */
}
#section-chapters .landing-h2,
.text-prio-two {
  padding: 2px 40px 0 40px;
}

/*Isotope styling*/

.button.is-checked {
  background: rgb(226, 250, 97);
}

.grid {
  margin-top: 32px;
}

.grid-item,
.grid-sizer {
  width: 19.5%;
}

.grid-item {
  float: left;
  height: 260px;
  border: 1px solid #e2fa61;
  margin-bottom: 10px;
  /* border-color: hsla(0, 0%, 0%, 0.7); */
  display: flex;
  flex-wrap: wrap;
}
.grid-item p {
  align-self: flex-end;
  padding-left: 14px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  margin-bottom: 0;
  line-height: 1.3;
}

#isotope {
  position: relative;
}

.grid-item .name {
  position: relative;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.grid-item .country {
}

.grid-item .year {
}

.grid-item.in-place {
}

.grid-item.removed {
}
