body {
  margin-top: 72px;
}

#yellow-gradient {
  height: 300px;
  position: absolute;
  z-index: -10;
  width: 100%;
  background: rgb(226, 250, 97);
  background: linear-gradient(180deg, rgba(226, 250, 97, 1) 0%, rgba(226, 250, 97, 0) 100%);
}

#text-priority {
  font-size: 32px;
  font-family: "Redaction", serif;
  line-height: 38px;
  padding: 0 40px;
  text-align: center;
  margin: 100px;
}

.headline-h1 {
  margin-bottom: 46px;
  padding: 80px 40px 40px;
  text-transform: uppercase;
  font-size: 142px !important;
  line-height: 114px !important;
}

#section-chapters {
  
  background: #EEEEEE;
  width: 100%;
  height: auto;
  position: relative;
  padding: 2px 40px;

}

/*Isotope styling*/

.button.is-checked {
  background: rgb(226, 250, 97);
}

.grid-item,
.grid-sizer {
  width: 20%;
}

.grid-item {
  float: left;
  height: 200px;
  width: 200px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}

#isotope {
  position: relative;
}

.grid-item .name {
  position: relative;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.grid-item.country {
  
}

.grid-item.year {
  
}

.grid-item.in-place{ 
  background: #F00; 
}

.grid-item.removed { background: #0FF; background: hsl( 180, 100%, 50%); }