@font-face {
  font-family: "Almendra";
  src: url('../fonts/AlmendraDisplay/AlmendraDisplay-Regular.ttf');
}

@font-face {
  font-family: "Arial";
  src: url('../fonts/Arial/arial.ttf');
}


body {
  font-family: 'Arial', sans-serif;
}

hr {
  border: 0; border-top: 1px solid #000;
}

h1, h2 {
  font-family: 'Arial', sans-serif;
  /* color: red; */
}