@font-face {
  font-family: "Almendra";
  src: url('../fonts/AlmendraDisplay/AlmendraDisplay-Regular.ttf');
}

h1, h2 {
  font-family: 'Almendra', sans-serif;
}

.header-bg {
  background: linear-gradient(180deg, #E24E43 85.78%, rgba(229, 229, 229, 0) 94.11%);
  height: 100vh;
  width: 100%;
}
.header-bg h1, a, p {
  color: #ffffff;
}